<div class='card'>
  <div class='card-content black-text'>
    <span class='card-title black-text'><%= current_user.name %></span>
  </div>
</div>

<% if logged_in? %>
  <%= link_to "LOGOUT", logout_path, method: :delete %>
<% end %>