<% provide(:title, "Find Client") %>

<h1>Search</h1>

<%= render partial: 'client_search_form' %>

<div id='client-cards' class='row'>
  <% @clients.each do |client| %>
    <div class='col s12 m6'>
      <%= render partial: 'client_search_card', locals: { client: client } %>
    </div>
  <% end %>
</div>