<h1>Search</h1>

<%= render partial: 'client_search_form' %>

<div class='row'>
  <div class='col s12 m6'>
    <% @clients.each do |client| %>
      <%= render partial: 'client_card', locals: { client: client } %>
    <% end %>
  </div>
</div>