<div class='card episode-card'>
  <div class='card-content'>
    <%= render "episodes/episode_data", episode: episode %>
  </div>
  <div class='card-action'>
    <%= link_to episode_path(episode), 
      class: "btn__get-client-episode" do %>
      <span>View episode</span>
    <% end %>
    <%= link_to episode_path(episode), 
      method: :delete,
      class: "btn__delete-client-episode",
      data: { confirm: "This will delete the episode. Are you sure?" } do %>
      <span>Delete episode</span>
    <% end %>
  </div>
</div>