<h2><%= @client.fullname %></h2>
<div class='card-panel card-panel__episode'>
  <%= render partial: 'episode_data', locals: { episode: @episode } %>

  <%=link_to new_client_episode_contact_path(@client, @episode) do %>
    Create contact
  <% end %>
</div>
<%= render @contacts %>