<h2><%= @client.fullname %></h2>
<div class='card episode-card'>
  <div class='card-content'>
    <%= render partial: 'episode_data', locals: { episode: @episode } %>
  </div>

  <div class='card-action'>
    <%=link_to new_client_episode_contact_path(@client, @episode) do %>
      Create contact
    <% end %>
  </div>
</div>

<div class='card-panel'>
  <table id='contacts'>
    <%= render @contacts %>
  </table>
</div>