<tr>
  <td><%= contact.created_at %></td>
  <td><%= contact.body %></td>
  <td>
    <%= link_to "Delete contact", client_episode_contact_path(@client, @episode, contact), method: :delete, data: { confirm: "Are you sure you want to delete this contact?"} %>
  </td>
</tr>