/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$tangy-pink: rgba(238, 110, 115, 1);
$outer-space: rgba(73, 88, 103, 1);
$ucla-blue: rgba(87, 115, 153, 1);
$pastel-blue: rgba(189, 213, 234, 1);
$platinum: rgba(247, 247, 255, 1);


@media only screen and (max-width: 321px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }

  h1 { 
    font-size: 30px !important;
    line-height: 1.25em;
  }

  h2 {
    font-size: 20px !important;
    line-height: 1.25em;
    margin-top: 10px !important;
  }
}

h1 {
  margin: 0px;
}

h2 {
  font-size: 30px;
  margin: 0px;
}

p {
  margin: 0px;
}

.btn {
  width: 100%;
  margin-bottom: 15px;
}

a.btn-cancel {
  background-color: #e65100;
  width: 100%;

  &:hover {
    background-color: #ef6c00;
  }
}
