// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tangy-pink: rgba(238, 110, 115, 1);
$outer-space: rgba(73, 88, 103, 1);
$ucla-blue: rgba(87, 115, 153, 1);
$pastel-blue: rgba(189, 213, 234, 1);
$platinum: rgba(247, 247, 255, 1);

// index
.search-form {
  .row {
    margin: 0px;
  }
  
  .search-form__input {
    margin: 5px 0px;
    height: 2.5em;
  }

  .search-form__submit {
    margin: 30px 0px 30px 0px;
  }
}

.card-action a.card__view-button.btn {
  padding: 0 15px;
  margin: 0;
}

.card {
  div.card-content {
    padding-top: 10px;
  }

  div.card-action {
    padding: 15px 20px;
  }
}

//show
#client-card.card {
  background-color: $outer-space;

  .card-title {
    font-weight: bold;
  }

  .client-card__info-field {
    font-weight: bold;
  }
}