// Place all the styles related to the Episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tangy-pink: rgba(238, 110, 115, 1);
$outer-space: rgba(73, 88, 103, 1);
$outer-space-light: rgba(133, 154, 180, 1);
$ucla-blue: #113a66;
$pastel-blue: rgba(189, 213, 234, 1);
$platinum: rgba(232, 232, 232, 1);

// Form
#respondent-info {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

#respondent-info-name {
  grid-column: 1 / span 1;
  grid-row: 1/ span 1;
  width: 90%;
  align-self: end;
}

#respondent-info-arrest {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  width: 75%;
  padding-bottom: 25px;
  align-self: end;

  label {
    margin-right: 20px;
  }
}

// Partial
.episode-card {
  .card-content__info-field {
    font-weight: bold;
  }
  .card-action {
    background-color: $ucla-blue;
  }
}