@import "materialize";

$red-lighten-4: #ffcdd2;
$lighten-green-4: #c8e6c9;

@mixin flash-alert {
  padding: 10px;
  text-align: center;
}

div.flash__alert--danger {
  @include flash-alert;
  background-color: $red-lighten-4;
  color: red;
}

div.flash__alert--success {
  @include flash-alert;
  background-color: $lighten-green-4;
  color: green;
}